<h1>New Product</h1>

 <%= simple_form_for @teddy do |f| %>
        <%= f.input :name%>
        <%= f.input :price%>
        <%= f.input :photo, as: :file %>
        <%= f.submit :class => "button_1" %>
      <% end %>
<%= link_to 'Back', teddies_path %>
